<div class="tab_container" >
  <form (ngSubmit)="onSubmit()">
    <md-grid-list  class="input_rows"  rowHeight="50px" cols="4" >
           <md-grid-tile>Sort Id</md-grid-tile>
           <md-grid-tile>
               <md-input placeholder="Sort Id"  align="end" class="form-control" required></md-input>
           </md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
    </md-grid-list>
    <md-grid-list  class="input_rows" rowHeight="50px" cols="4" >
           <md-grid-tile>Reference ID</md-grid-tile>
           <md-grid-tile>
               <md-input placeholder="Reference ID" align="end" class="form-control" required></md-input>
           </md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
    </md-grid-list>
    <md-grid-list  class="input_rows" rowHeight="50px" cols="4" >
           <md-grid-tile>Refernce ID Type</md-grid-tile>
           <md-grid-tile>
               <md-input placeholder="Refernce ID Type" align="end" class="form-control" required></md-input>
           </md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
    </md-grid-list>
    <md-grid-list class="input_rows"  rowHeight="50px" cols="4" >
           <md-grid-tile>Doc Type</md-grid-tile>
           <md-grid-tile>
               <md-input placeholder="Doc Type" align="end" class="form-control" required></md-input>
           </md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
    </md-grid-list>
    <md-grid-list  class="input_rows" rowHeight="50px" cols="4" >
           <md-grid-tile>Doc Sub-Type</md-grid-tile>
           <md-grid-tile>
               <md-input placeholder="Doc Sub-Type" align="end" class="form-control" required></md-input>
           </md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
    </md-grid-list>
    <md-grid-list  class="input_rows" rowHeight="50px" cols="4" >
           <md-grid-tile></md-grid-tile>
           <md-grid-tile></md-grid-tile>
           <md-grid-tile>
               <button md-raised-button type="submit" color="primary">Create Case</button>
               &nbsp;
               <button md-raised-button color="warn">Cancel</button>
           </md-grid-tile>
           <md-grid-tile>
           </md-grid-tile>
    </md-grid-list>
    </form>
</div>  