<div class="app-content">
    <md-card>
        <md-tab-group>
            <md-tab left>
              <template md-tab-label >
                Earth
              </template>
              <template md-tab-content>
                    <app-tabs></app-tabs>
              </template>
            </md-tab>
            <md-tab>
                <template md-tab-label >
                +
              </template>
              <template md-tab-content >
                <div class="tab_container" >
                </div>
              </template>
            </md-tab>
        </md-tab-group>    
    </md-card>
</div>